/* colors: #A24936 less orange
        #D23135 orange
        #282B28 green
        #82BCA9 teal
        #636B61 less green */
/* fonts: font-family: 'Bebas Neue', cursive;
font-family: 'Playfair Display', serif; */
body {
    background-image: url("https://i.imgur.com/rHtIA1C.jpg");
    background-size: cover;
    margin: 0px;
  }
  /* navbar */
  #nav {
      overflow: hidden;
      margin: 0px;
      /* background-color: rgba(40,43,40, 0.8); */
      background: linear-gradient(to right, #282B28,rgba(255,255,255,0));
      font-size: 50px;
      text-shadow: 1px 1px 1px #82BCA9;
    }
  #nav a {
      display: block;
      float: left;
      color: #636B61;
      text-align: center;
      padding: 14px;
      text-decoration: none;
      font-family: 'Bebas Neue', cursive;
      letter-spacing: 2px;
      text-decoration: underline;
      text-decoration-color: #82BCA9;
      }
  /* search dates */
  .search {
      text-align: center;
      font-family: 'Playfair Display', serif;
      padding-top: 20px;
  }
  #button{
    font-family: 'Playfair Display', serif;
    border: none;
    height: 25px;
    border-radius: 10px;
  }
  #events {
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 3px;
    text-align: center;
    font-size: 30px;
    text-shadow: 2px 1px 1px #82BCA9;
  }
  /* page content - event list */
/* #toggleEl {
    display: none;
} */
#results {
      display: none;
      align-content: center;
      color: white;
      background-color: #A24936, .5;
     font-family: 'Playfair Display', serif;
  }
#results{
    padding: 10px;
    background-color: rgba(210,49,53, 0.4);
    width:400px;
}

